@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
    }

.footer{
  background-color: #eeeeee;
}

ul{
  list-style-type:none ;
  
}

.left-links{
  display:flex;
  gap:8px;
  padding: 0;
  

}

.right-links{
  display: flex;
  justify-content: flex-end;
  gap:8px;
  padding: 0;
  
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5px;
  gap:8px;
  flex:1;
  
  
}

button{
  padding:10px;
  background-size: 300px 100px;
}