/* Add CSS Styling */
.odd {
    background-color: rgba(243, 52, 52, 0.858);
    font-family: verdana, "DejaVu San",sans-serif;
}

.font-size{
font-size: 24px;
}

#two{
    color: rgba(0, 0, 255, 0.858);
    font-size: 36px;
}

#four{
    color: #21ba21;
    font-size: 24px;
    font-weight: bold;
}